@import '../index.scss';

.hero-section {
    padding: 38px 0 80px 0;
}

.hero-section-main {
    text-align: center;

    h1 {
        @include font32;
        color: var(--color1);
        margin-bottom: 24px;
    }
}

.hero-section-main-div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 0 24px;

    h2 {
        @include font12;
        color: var(--color1);
    }

    span {
        font-weight: 500;
    }
}

.hero-section-main-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-main-div2 {
    max-width: 650px;
    background-color: #f9fafc;
    padding: 8px 8px 8px 24px;
    border-radius: 70px;
}

.section-main-div2-grid {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 20px;
}

.section-main-div2-grid1 {
    border-right: 1px solid var(--color3);
    display: flex;
    align-items: center;
}

.main-div2-grid1 {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
        @include font15light;
        color: var(--color1);
    }
}

.section-main-div2-grid2 {
    position: relative;

    input {
        width: 316px;
        height: 48px;
        background-color: transparent;
        border: none;
        padding: 0 130px 0 32px;
    }

    ::placeholder {
        @include font15;
        color: var(--color5);
    }

    img {
        position: absolute;
        top: 14px;
        left: 0px;
    }
}

.middle-section {
    padding: 0 0 40px 0;
    border-bottom: 1px solid var(--color3);
}


.last-section {
    padding: 80px 0;
    background-color: #eff1f3;
}

.last-section-grid {
    display: grid;
    grid-template-columns: 1fr 376px;
    gap: 20px;
    align-items: center;
}

.last-section-grid1 {
    h5 {
        @include font40;
        color: var(--color1);
        margin-bottom: 16px;
    }

    p {
        @include font16;
        color: var(--color2);
        max-width: 512px;
    }
}

.last-section-grid2-main {
    display: flex;
    align-items: center;
    gap: 88px;

    a {
        @include font14;
        color: var(--color1);
        font-weight: 500;
        text-decoration-line: none;
    }
}