:root {
    --colorwhite: #fff;
    --color1: #030f21;
    --color2: #7c8593;
    --color3: #e7e7e7;
    --color-button: #2150f5;
    --color-bg: #f9f9fa;
    --color-border: #efefef;
    --color-div: #f3f6fa;
    --color-bg2: #ececec;
    --color-bg3: #222524;
    --color-bg4: #101211;
    --color4: #b9b9b9;
    --color5: #121313;
    --color-green: #4ee35d;
    --font-family-inter: 'Inter', sans-serif;
}